*{
    color:white;
}

.hotel-title, .rating{
    font-family: Raleway;
    font-size: 150%;
    font-weight:500;
}

.odd_template{
    background: linear-gradient(to right, rgb(24, 212, 212) 0%, #5f19b4 100%);
	-webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.even_template {
    background: linear-gradient(to right, rgb(255, 157, 77) 0%, #ff85a0 100%);
	-webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}


a:hover{
    text-decoration:none;
    
}

.thumbnail{
    transition-duration : 0.3s;
    border-radius : 0.4em;
    padding : 1em;
    

   
    
}

.thumbnail:hover{
    transform :scale(1.02,1.02);
    
    
}

