<div class = "dialog-container">
    <h1 mat-dialog-title style = "font-family: Raleway;">Rate per Night: ₹{{ currentRental.Rate }} </h1>
    <div mat-dialog-content>
      <p>What's your favorite animal?</p>
      <!-- <mat-form-field>
        <input matInput [(ngModel)]="data.animal">
      </mat-form-field> -->
    </div>
    <div class = "calendar">
      <mat-card>
        <mat-card-title style = "font-size: 90%;">Choose the stay Date</mat-card-title>
        <mat-card-content>
            <mat-form-field style = "margin:0.3em;" [formGroup] = "DateFormData">
                <input matInput 
                [matDatepicker]="rentalStartingDate" 
                [matDatepickerFilter]="startFilter"
                [min] = "minDate" 
                placeholder="Choose the starting date"
                formControlName="startDate"
                name = "startDate"
                required>
                <mat-datepicker-toggle matSuffix [for]="rentalStartingDate"></mat-datepicker-toggle>
                <mat-datepicker #rentalStartingDate></mat-datepicker>
                <mat-error>Please enter Valid Date</mat-error>

              </mat-form-field>  
            
            
      
              <mat-form-field style = "margin:0.5em;" [formGroup] = "DateFormData">
                <input matInput 
                [matDatepicker]="rentalEndingDate" 
                [matDatepickerFilter]="endFilter"
                [min] = "minEndDate" 
                placeholder="Choose the ending date"
                formControlName="endDate"
                name = "EndDate"
                required>
                <mat-datepicker-toggle matSuffix [for]="rentalEndingDate"></mat-datepicker-toggle>
                <mat-datepicker #rentalEndingDate></mat-datepicker>
                <mat-error>Please enter Valid Date</mat-error>
              </mat-form-field>
        </mat-card-content>
        
      </mat-card>
      
    </div>
    <mat-card style = "margin-top: 1em; margin-bottom: 1em;font-family: Raleway;">
      {{ currentRental.description | shorten: 80: '...' }}
    </mat-card>
    <div mat-dialog-actions>
      <button mat-button color="warn" (click)="onNoClick()">Not Now</button>
      <button mat-raised-button color = "warn" (click) = "console()">Reserve rooms </button>
    </div>
</div>


