
<section id = "rentalListing">
    <div class="page-header">
        <h1 class= "page-title"><span style = "color:#ff4d4d">Book</span>yourHotel</h1>
    </div>
  
    <div class="row">
        <!-- we are passing eeach rental item to rental-list-item comonent which is the child -->
    <div class="col-md-3" *ngFor = "let rental of rentals">
        <!-- passing the rentals array into the rental-list-item component html -->
      <bwm-rental-list-item [currentRental] = "rental"></bwm-rental-list-item>
    </div>

    </div>
  </section> 