/* You can add global styles to this file, and also import other style files */
*{
    font-family: Raleway;
}



.page-title{
    font-weight:700;
    margin:0.9em;
    margin-left: 0;
}
.caption{
    font-size:70%;
    color:#242424;
}

.col-md-3:hover{
    text-decoration: none;
}

a:hover{
    text-decoration : none;
}