<ngx-spinner bdOpacity = 0.9 bdColor = "rgb(40, 42, 53)" size = "medium" color = "#ff85a0" type = "ball-atom" [fullScreen] = "false">
  <br>
  <br>
    <div style="color: white;margin-top  : 3em;" > Loading your rentals... </div>
    
    <div *ngIf="show" class= "slowNetwork">
        <p   style ="color:#ff2828ee;">Sorry for taking too long, you can refresh the page </p>

    </div>
    
    </ngx-spinner>
  
<div *ngIf="rental">
  <div style ="height :30em; overflow :hidden;" class = "rental-image"><img src  =  "{{rental.image}}" class = "image-container"></div>
  <div class = "rental-title-container">
    <button mat-raised-button color="warn" class = "book-button" (click)="openDialog()" style = "width : 10em;">
        <i class="material-icons" style =  "font-size: 1em;display:inline;position:absolute;top: 25%;left: 10%;">
            calendar_today
            </i>Book Now</button>
    <a href = "{{rental.website}}"  style = "text-decoration :none;"><div class = "rental-title" style= "color: white;">
    {{rental.title}} </div></a>



  <p style=  "font-size : 80%;margin-left : 1.5em;">Rating  :<span style = "color   : #ff85a0 ;">{{rental.rating}}</span></p>
  
</div>
  <div class = "rental-location-container">
  <div class = "city">
    <i class="material-icons icon-rental-desc1 icon-rental-desc" style = "float :  left; margin-right: 0.2em;">location_on</i>
    <!-- using the ngx pipes to make the firts letter capital -->
    <!-- package use : ==>  npm install ngx-pipes --save -->
    <p style =" float : left;margin-top: 0.6em;" > {{rental.city  | ucwords }}, {{rental.street}} </p> 
    <br>
        
 

  
  <bwm-location-detail [rental] = "rental"></bwm-location-detail>
  <button mat-button color="warn" style = "float: left; margin:0"   (click) = onCreate()>Click to see the Location</button>
 </div>
</div>
<div class = "category-desc-container">
  <div class = "category">
      <i class="material-icons icon-rental-desc2 icon-rental-desc" style  = "float: left; margin-right: 0.2em; ">weekend</i>
      <p  style = "float: left;margin-top: 0.6em;">{{rental.category}}</p>
  </div>
 
  <br>
  <br>
  <div class = "description">
      <i class="material-icons icon-rental-desc3 icon-rental-desc" style = "float:left;margin-right: 0.2em;">import_contacts</i>
      <!-- using tghe built in  pipes  function -->
      <p style=  "float:left;margin-top: 0.6em;">{{ rental.description | shorten: 100: '...' }}</p>
  </div>

<br>
<br>

  <div class = "rating">
      <i class="material-icons icon-rental-desc4 icon-rental-desc" style = "float:left;margin-right: 0.2em;">favorite</i>
      <p style=  "float:left;margin-top: 0.6em;">Rating  :<span style = "color   : #ff85a0 ;">{{rental.rating}}</span></p>
  </div>

</div>
  

</div>









<!-- <img src  =  "{{rental.image}}" class = "image-container"> -->