*{
    margin : 0;
 
}


.rental-title-container{
    border-radius :0.1em;
    margin :0.5em 0 0.5em 0;
    padding: 1em;
    background-color: rgb(40, 42, 53);
    
}

.rental-title{
    font-weight : 500;  
    transition-duration: 0.3s;
    margin:0.5em;
    margin-bottom: 0.1em;
    width : 10em;
    border-radius : 0.2em;
    background: linear-gradient(to right, rgb(255, 157, 77) 0%, #ff85a0 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.book-button{
   float:right;
   margin-top: 0.6em;

    
}
.slowNetwork{
    margin: 1em;
    margin-top:2em;
    width:20em;
    -webkit-animation: mymove 0.5s;
}

@keyframes mymove{
    from {
        margin-top:1em;
    }
  to {
    margin-top:2em;
}
}


.rental-location-container{
    border-radius :0.1em;
    margin :0.5em 0 0.5em 0;
    padding-bottom : 2em;
    padding: 1em;
    background-color: rgb(40, 42, 53);
}
.city *{
    margin :0.2em;
}

.rental-title:hover{
    cursor: pointer;
    

}
.rental-image{
    background-color: rgb(40, 42, 53);
    border-radius :0.2em;
    padding : 1em;
    margin-top :1em;
}
.image-container{
    margin :0.5em 0 0.5em 0 ;
    width : 100%;
    height: 100%;
    overflow:hidden;
    padding: 1em;
}
.city, .category, .description, .rating{
    margin-left : 0.5em;
}

.icon-rental-desc{
    font-size  :1.5em;
    color : white; 
    border-radius :  50%;
    padding  : 0.3em;


}
.icon-rental-desc1{
    background-color :rgb(255, 121, 121);
    

}

.icon-rental-desc2{
    
    background-color :rgb(81, 171, 255);

}

.icon-rental-desc3{
    
    background-color :rgb(175, 78, 255);
}
.icon-rental-desc4{
    background-color :#ff6a8a;

}


.category-desc-container{
    background-color: rgb(40, 42, 53);
    border-radius: 0.1em;
    padding:1em;
    padding-bottom : 4em;
    min-height: 100px;
    overflow: hidden;
}




.example-icon {
    padding: 0 14px;
  }
  
  .example-spacer {
    flex: 1 1 auto;
  }

  button:active {
    outline: none;
    border: none;
    }
    
    button:focus {outline:0;}

/* .description */